@import "tailwindcss";

:root {
  --background: #0F0F12;
  --foreground: #ededed;
  --primary: #0F0F12;
  --secondary: #FF7A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
